<html>
<head>
<%include partials/header.ejs%>
</head>
<body>
<div class="banner" id="signin"><p><%=auth ? "Signed in as " + auth.name : "Not signed in"%></p></div>
<h1 id="title">Pixel Canvas</h1>
<button id="start">Press me</button>
<canvas id="pc"></canvas>
<script>
$(function(){
    $("#signin").hide().slideDown();
    const ctx = document.getElementById("pc").getContext("2d");
    var w,h;
    var mx=0,my=0;
    const widths = [5,7,10,15,18,20,25,30,40,60,120,500];
    var wid = 5;
    var tw=widths[wid];
    var th=Math.sqrt(3)*tw;
    function triangle(x, y, colour=false) {
        //triangle size is 40xsqrt(1200)
        up = (x+y)%2;
        ctx.beginPath();
        if (up) {
            ctx.moveTo(w/2+tw*x,h/2-th*(y+1));
            ctx.lineTo(w/2-tw+tw*x,h/2-th*y);
            ctx.lineTo(w/2+tw+tw*x,h/2-th*y);
            ctx.lineTo(w/2+tw*x,h/2-th*(y+1));
        } else {
            ctx.moveTo(w/2+tw*x,h/2-th*y);
            ctx.lineTo(w/2-tw+tw*x,h/2-th*(y+1));
            ctx.lineTo(w/2+tw+tw*x,h/2-th*(y+1));
            ctx.lineTo(w/2+tw*x,h/2-th*y);
        }
        if (colour) {
            ctx.fillStyle=colour;
            ctx.fill();
        } else {
            ctx.stroke();
        }
        ctx.closePath();
    }

    function grid(w,h) {
        for (i=Math.floor(-w/tw);i<=Math.floor(w/tw);i++){
            for (j=-Math.floor(h/th);j<=Math.floor(h/th);j++){
                triangle(i,j);
            }
        }
    }

    function draw(){
        grid(w,h);
        triangle(0,0,"#a44");
        triangle(1,0,"#135");
        triangle(0,1,"#135");
        triangle(-1,0,"#135");
        triangle(40,0,"black");
    }

    $(window).resize(function(){
        w = 20+(window.width||window.innerWidth);
        h = 20+(window.height||window.innerHeight);
        $("#pc").attr({
            height: h,
            width: w
        });
        tw=widths[wid];
        th=Math.sqrt(3)*tw;
        ctx.strokeStyle="#bbb";
        ctx.lineWidth=tw/80;
        ctx.fillStyle="#def";
        ctx.rect(0,0,w,h);
        ctx.fill();
        draw();
    });

    $(window).resize();

    $(window).bind('keydown',function(){
        if (event.ctrlKey || event.metaKey) {
            if (event.which===187){
                console.log("larger");
                event.preventDefault();
                if (wid+1>=widths.length) return;
                wid+=1;
                $(window).resize();
            } else if (event.which===189){
                console.log("smaller");
                event.preventDefault();
                if (wid<=0) return;
                wid-=1;
                $(window).resize();
            }
        }
    })
    $("#start").click(function(){
        $("#pc").addClass("start")
        $("#start, #title").fadeOut(200);
    });

    setTimeout(function(){
        $("#signin").slideUp(200);
    }, 3000)
});
</script>
</body>
</html>