<html>
<head>
<%include partials/header.ejs%>
</head>
<body>
<div class="banner" id="signin"><p><%-auth ? "Signed in as " + auth.name : "You are not signed in. Sign in <a href='#'>here?</a>"%></p></div>
<h1 id="title">Pixel Canvas</h1>
<button id="start">Start</button>
<canvas id="pc"></canvas>
<script>
$(function(){
    $("#signin").hide().slideDown();
    const ctx = document.getElementById("pc").getContext("2d");
    var w,h,md;
    var offsetX=0, offsetY=0;
    var drag={x:0,y:0,ging:false};
    var mx=0,my=0,x=0,y=0;
    const widths = [5,7,10,15,18,20,25,30,40,60,120,500];
    var wid = 5;
    var tw=widths[wid];
    var th=Math.sqrt(3)*tw;
    var triangles = [
        [0,0,"#a44"],
        [-1,-1,"#a44"],
        [1,-1,"#a44"],
        [0,1,"#135"],
        [1,0,"#135"],
        [-1,0,"#135"],
        [-2,-1,"#135"],
        [0,-1,"#135"],
        [2,-1,"#135"],
        [40,0,"black"]
    ];
    function triangle(x, y, colour=false) {
        //triangle size is 40xsqrt(1200)
        up = (x+y)%2;
        ctx.beginPath();
        if (up) {
            ctx.moveTo(w/2+tw*x-offsetX,h/2-th*(y+1)+offsetY);
            ctx.lineTo(w/2-tw+tw*x-offsetX,h/2-th*y+offsetY);
            ctx.lineTo(w/2+tw+tw*x-offsetX,h/2-th*y+offsetY);
            ctx.lineTo(w/2+tw*x-offsetX,h/2-th*(y+1)+offsetY);
        } else {
            ctx.moveTo(w/2+tw*x-offsetX,h/2-th*y+offsetY);
            ctx.lineTo(w/2-tw+tw*x-offsetX,h/2-th*(y+1)+offsetY);
            ctx.lineTo(w/2+tw+tw*x-offsetX,h/2-th*(y+1)+offsetY);
            ctx.lineTo(w/2+tw*x-offsetX,h/2-th*y+offsetY);
        }
        if (colour) {
            ctx.fillStyle=colour;
            ctx.fill();
        } else {
            ctx.stroke();
        }
        ctx.closePath();
    }

    function grid(w,h) {
        for (i=Math.floor((-w+offsetX)/tw);i<=Math.floor((w+offsetX)/tw);i++){
            for (j=-Math.floor((h-offsetY)/th);j<=Math.floor((h-offsetY)/th);j++){
                triangle(i,j);
            }
        }
    }

    function draw(){
        grid(w,h);
        for (i=0;i<triangles.length;i++){
            triangle(triangles[i][0],triangles[i][1],triangles[i][2]);
        }
    }

    $(window).resize(function(){
        w = 20+(window.width||window.innerWidth);
        h = 20+(window.height||window.innerHeight);
        $("#pc").attr({
            height: h,
            width: w
        });
        tw=widths[wid];
        th=Math.sqrt(3)*tw;
        ctx.strokeStyle="#bbb";
        ctx.lineWidth=tw/160;
        ctx.fillStyle="#def";
        ctx.rect(0,0,w,h);
        ctx.fill();
        draw();
    });

    $(window).resize();

    $(window).bind('keydown',function(){
        if (event.ctrlKey || event.metaKey) {
            if (event.which===187){
                event.preventDefault();
                if (wid+1>=widths.length) return;
                wid+=1;
                $(window).resize();
            } else if (event.which===189){
                event.preventDefault();
                if (wid<=0) return;
                wid-=1;
                $(window).resize();
            }
        }
    })
    $("#start").click(function(){
        $("#pc").addClass("start");
        $("#start, #title").fadeOut(200);
    });

    setTimeout(function(){
        $("#signin").slideUp(200);
    }, 7000);

    function detect(clientX, clientY, togglable=true){
        let ox=clientX+10-w/2+offsetX, oy=-(clientY+10-h/2)+offsetY;
        let clickX=Math.floor(ox/tw), clickY=Math.floor(oy/th);
        let modx = ((ox%tw)+tw)%tw, mody = ((oy%th)+th)%th;
        if ((clickX+clickY)%2){
            clickX+=(mody>(tw-modx)*Math.sqrt(3));
        } else {
            clickX+=(mody<modx*Math.sqrt(3));
        }
        let newf = t=>t[0]!==clickX||t[1]!==clickY;
        let newTriangles = triangles.filter(newf);
        if (triangles.filter(t=>!newf(t)).length&&togglable){
            triangles=newTriangles;
            $(window).resize();
        } else {
            triangles=newTriangles;
            triangles.push([clickX, clickY, "hsl("+(((10*(clickX+clickY))%360)+360)%360+",70%,70%)"]);
            triangle(clickX,clickY,"hsl("+(((10*(clickX+clickY))%360)+360)%360+",70%,70%)");
        }
    }

    $("#pc").mousedown(function(e){
        md=true;
        drag.ging = false;
        drag.x=e.clientX;drag.y=e.clientY;
    });
    $("#pc").mousemove(function(e){
        if (md) {
            let cx=e.clientX-drag.x;
            let cy=e.clientY-drag.y;
            console.log(cx,cy);
            drag.x=e.clientX;drag.y=e.clientY;
            if (drag.ging||(cx^2+cy^2)>0.1){
                drag.ging=true;
                offsetX-=cx;
                offsetY+=cy;
                $(window).resize();
            } else {
                console.log("yay.");
            }
        }
    });
    $("#pc").mouseup(function(e){
        md=false;
        if(!drag.ging){
            detect(e.clientX,e.clientY);
        }
    })
    $(document).on('gesturestart', function (e) {
        e.preventDefault();
    });
});
</script>
</body>
</html>